<!-- preferences.component.html -->
<form #preferencesForm="ngForm" (ngSubmit)="onSubmit(preferencesForm.value)">
  <div class="field">
    <mat-label class="label">Brightness</mat-label>
    <mat-slider min="0" max="100" step="1" name="brightness"  required>
    <input matSliderThumb [(ngModel)]="preferences.brightness" name="brightness">
    </mat-slider>
    <span>{{ preferences.brightness }}</span>
  </div>
  <div class="field">
    <mat-form-field>
      <mat-label class="label">Zip Code</mat-label>
      <input matInput type="number" name="zip" [(ngModel)]="preferences.zip" required>
    </mat-form-field>
  </div>
  <button mat-raised-button type="submit">Save Preferences</button>
</form>